.navbar-image {
  background-size: cover;
  background: url('/images/navbar-image.jpg') no-repeat center;
}

.landing-recipes {
  background-size: cover;
  background: url('/images/landing-recipes.jpg') no-repeat center;
}

.landing-search {
  background-size: cover;
  background: url('/images/landing-search.jpg') no-repeat center;
}


.landing-vendor {
  background-size: cover;
  background: url('/images/landing-vendor.jpg') no-repeat center;
}